@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Redressed&display=swap');
*{
	margin:0;
	padding:0;
}

.background-image {
	background-image: url("media/stars.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 140vh;
}
 
h1 {
	font-family: Redressed;
	font-size: 100px;
	color: whitesmoke;
	text-align: center;
}

p {
	font-family: Oswald;
	font-size: 30px;
	color: whitesmoke;
	text-align: center;
}

.table-data {
	font-family: Oswald;
	font-size: 15px;
	color: whitesmoke;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
	border-spacing: 20px;
	border: solid;
	text-align: center;
    margin-bottom: 30px;
}

.container {
    padding-top:50px;
    width: 55%;
    margin: 0 auto;
}

.flex {
    display: flex;
    justify-content: space-around; 
}

.txt_one {
    width: 80%;
    text-align: center;
    font-family: Oswald;
	font-size: 30px;
	color: whitesmoke;
	text-align: center;
}

.txt_two {
    width: 80%;
    text-align: center;
    font-family: Oswald;
	font-size: 30px;
	color: whitesmoke;
	text-align: center;
}

.item_three {
	padding-top: 255px;
	width: 30%;
    text-align: center;
    font-family: Oswald;
	font-size: 30px;
	color: whitesmoke;
	text-align: center;
}

.item_four { 
    padding-top: 328px;
    width: 15%;
    text-align: center;
    font-family: Oswald;
	font-size: 30px;
	color: whitesmoke;
	text-align: center;
}

.img_size {
    width: 100%;
}

.table_header {
    padding-top: 50px; 
    font-size: 30px;
    font-family: Redressed;
	color: whitesmoke;
	text-align: center;
}