@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Redressed&display=swap');
*{
	margin:0;
	padding:0;
}

.background-image {
	background-image: url("/media/stars.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	height: 100vh;
}

h1 {
	font-family: Redressed;
	font-size: 100px;
	color: black;
	text-align: center;
}

p {
	font-family: Oswald;
	font-size: 30px;
	color: black;
	text-align: center;
}
